@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,700i,800&display=swap');
body {
	background-color:#f9fafb !important;
	position: relative;
    width: 100%;
  }
  
  .header {
	background-color: #ffffff;
	padding: 10px;
	text-align: center;
	position: fixed;
    top: 0;
    right: 0;
	left: 0;
	z-index: 1;
    box-shadow: 3px 0 10px 0 rgba(183,192,206,.2);
    transition: width .1s ease,left .1s ease;
    border-bottom: 1px solid #efefef;
  }
  
  .logo{
	width: 160px
  }
  
  .box{
	border-radius: 1px;
    box-shadow: 1px 3px 6px 0px #e2e2e2;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-weight: 600;
    color: #4e4e4e;
    font-size: 12px;
    margin-bottom: 15px;
  }
  
  .group .box-head{
	padding: 5px;
    height: 35px;
    line-height: 25px;
	background-color: #d9edf7;
    color: #4489bf;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: 700;
    font-size: 13px;
    margin: auto;
    width: 100%;
	border: 1px solid #c3e9f2;
	cursor: pointer;
  }

 .group .box-head .icon-algn2{
	float: right;
    text-align: right;
	margin-right: 10px;
	cursor: pointer;
	margin-top: 5px;
	font-size: 15px;
}

.group .box-head .icon-algn1{
	margin-right: 5px;
	cursor: pointer;
	margin-top: 5px;
}
  
  .box-body {
	padding: 10px;
	background-color:white;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
    height: max-content;
	width: 100%;
    border: 1px solid #c3e9f2;
  }

  .box-footer{
	padding: 5px;
	text-align: center;
	margin-top: -53px;
	position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
	background: #ffffff;
	box-shadow: 3px 0 10px 0 rgba(183,192,206,.2);
    transition: width .1s ease,left .1s ease;
    border-top: 1px solid #efefef;
  }

  .submit-btn{
	color:white;
	padding:5px;
	border-radius:4px;
  }

  .group input[type="text"],input[type="email"],input[type="wasCode"],input[type="city"],input[type="accountNumber"],input[type="name"],input[type="date"],input[type="tel"],input[type="zipCode"],select{
	width: 100%;
	padding: 6px 6px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: #4e4e4e;
}

.PhoneInputCountryIcon--border {
	background-color: white !important; 
    box-shadow: none !important;
}

.PhoneInputCountryIcon  {
	height:4vh !important;
}

.checkbox{
	width: 20px;
}

textarea{
	width: 100%;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#addButton{
	font-size: 12px !important;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
	margin: -2px;
	float: right;
	margin-top: -28px;
	margin-right: 35px;
	padding: 1px 6px;
}

#addServerOption {
	background-color: #d9edf7;
    color: #4489bf;
}

#addServerButton{
	font-size: 12px !important;
	color: white;
	margin: 10px;
	background-color: #3797e2;
	font-family: 'Open Sans', sans-serif;
	border-radius: 4px;
}
.field-align{
	display: inline-block;
}

.group{
	margin: 70px 0;
}

::placeholder {
	color: #cacaca;
}

.group label{
	margin-top: 0.5rem !important;
	margin-bottom: 0rem !important;
}

#destinationArray_label{
	margin: -1px;
}

#destinationArray_label::after{
	content: "";
}

#sourceArray_label::after{
	content: "";
}

#noOfSourceArray_label::after{
	content: "";
}

#targetEquipmentPurchased_label::after{
	content: "";
}

#installed_label::after{
	content: "";
}

#freeze_label::after{
	content: "";
}

#storageVirtualization_label::after{
	content: "";
}

#connection_label::after{
	content: "";
}

#migrationbetween_label::after{
	content: "";
}

.container-fluid .request-no::after{
	content: "";
}

.group .container-fluid {
	padding-top: 75px;
}

#wasCode_field{
	margin-top: 16px;
}

#deliverySpecific_field {
	margin-top: 14px;
}

#migrationType_field {
	margin-top: 14px;
}

#outageWindows_field {
	margin-top: -11px;
}

#destinationSiteName_field {
	float: left;
    width: 48%;
}

#destinationSiteAddress_field {
    width: 48%;
    float: right;
}

.connectivity-algn {
	display: flex;
}

#connectivity_field {
	width: 48%;
}

#NoofSANPorts_field {
	margin-left: 4%;
	width: 48%;
}

.test #NoofSANPorts_field {
    margin-left: 4% !important;
    width: 48.5% !important;
}

.order-1 #NoofSANPorts_field {
	margin-left: 2%;
	width: 23.5%;
}

#NoofISCSI_field {
	margin-left: 4%;
    width: 48%;
}

.test #NoofISCSI_field {
    margin-left: 4% !important;
    width: 48.5% !important;
}

.order-1 #NoofISCSI_field {
	margin-left: 2%;
	width: 23.5%;
}

.group input:hover{
	border-color: #67aee6;
}

select:hover{
	border-color: #67aee6;
}

textarea:hover{
	border-color: #67aee6;
}

.Modal-box {
	position: absolute;
    top: 35%;
    left: 25%;
    right: 25%;
    border: none;
    background: rgb(209, 219, 225);
    border-radius: 4px;
    outline: none;
    padding: 0px;
}

.addserver-btn {
	margin: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #1175fb;
    font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

.Server-input{
	width: 55%;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #4e4e4e;
}

.servers_label {
	width: 100%;
}

.servers{
	float: left;
    width: 75%;
}

.server-box {
	background: #F0F0F0;
    padding: 10px;
    margin-bottom: 5px;
	position: relative;
	margin-right: 5px !important;
	margin-left: 5px !important;
}

.Modal-box input::placeholder {
	font-size: 13px;
}

.state-country {
	display: flex;
}

#country_field {
	width: 47%;
}

#region_field {
	margin-left: 6%;
    width: 47%;
}

.align {
	margin-top: 9px;
}

.request-no {
	position: absolute;
    right: 48px;
    top: -5px;
    color: #4489bf;
    font-size: 12px;
}

.request-no::after {
	content: "";
}

.request-no span{
    border: 1px solid #57a5b7;
	padding: 2px;
}
.subfield-algn {
	display: inline-block;
}

.phone-number{
	width: 100%;
	padding: 6px 6px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: #4e4e4e;
}

.remove-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    font-size: 10px;
    background: #ff3a3a;
    color: #fff;
    cursor: pointer;
}

.group label::after{
	content: "*";
	color: tomato;
}

.group .flatpickr-days {
	width: 100% !important;
}

.group .dayContainer {
	max-width: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
}

.group .flatpickr-wrapper {
    position: relative !important;
    display: inherit !important;
}

.group .flatpickr-calendar  {
    z-index: 999 !important;
    display: block !important;
    max-width: 100% !important;
}

.group .flatpickr-innerContainer {
	width: 100% !important;
}

.Modal-box .box-head{
	padding: 5px;
	height: 35px;
	line-height: 25px;
    background-color: #d9edf7;
    color: #4489bf;
	border: 1px solid #a4cbd4;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: 700;
	font-size: 13px;
	margin: auto;
  }

.Modal-box {
	width:	35%;
	position: absolute;
    top: 35%;
    left: 30%;
    right: 25%;
    border: none;
    background: rgb(228, 232, 234);
    border-radius: 4px;
    outline: none;
	padding: 0px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
}

.closeModal-btn{
	float: right;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: -2px;
    padding: 0px 6px;
}

#addServerBtn{
	float: right;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-right: 5px;
    margin-top: -1px;
    padding: 2px 6px;
}

#storageVirtualization_field {
	margin-top: 25px;
}

#connection_field {
	margin-top: 25px;
}

#migrationbetween_field {
	margin-top: 25px;
}

#freeze_field .subfield-algn {
	width: 50%;
	float: right;
	margin-top: -53px;
	margin-right: 65px;
}

#freeze_field {
	margin-top: 25px;
}

.closeModal-btn .fa {
	margin-top: 5px;
    margin-left: 5px;
}

#addServerBtn .fa{
	margin-top: 5px;
	margin-left: 5px;
}

.closeModal-btn .fa{
	margin-top: 5px;
    margin-left: 5px;
}

/* 
.Server-input{
	width: 86%;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #4e4e4e;
} */

.servers_label {
	width: 100%;
}

.Modal-box input::placeholder {
	font-size: 13px;
}

.server-label{
	margin-top: 0rem !important;
}

.modalbody {
	padding: 20px;
}

#ServerName {
	padding: 8px 8px;
}

.ReactModal__Overlay{
    background-color:  rgba(0, 0, 0, 0.6) !important;
}

.group label {
	font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.server-box .span-algn {
	margin-right: 15px;
}

.group .zipcode-algn{
	margin-left: -25%;
}

.modal-algn #accountNumber {
	margin-right: 10px;
}

#migrationbetween_field .subfield-algn {
	margin-left: 160px;
    margin-top: -50px;
}

@media only screen and (max-width: 640px) {
    .group .zipcode-algn {
		margin-left: 0%;
	}
  }

  @media only screen and (max-width: 568px) {
	#freeze_field .subfield-algn {
		width: 100%;
		margin-bottom: 15px;
		float: right;
		margin-top: 0px;
    	margin-right: 0px;
	}
  }

  @media only screen and (min-width: 1920px) {
	#freeze_field {
		margin-top: 8px;
	}
	/* #migrationbetween_field {
		margin-top: 0px;
	} */

	#migrationbetween_field .subfield-algn {
		margin-top: 0px;
	}
  }

  @media only screen and (min-width: 625px) {
	#freeze_field .subfield-algn {
		margin-right: 0px;
	}
  }

.order-1 #connectivity_field{
	  width:23.5%
  }

/* order-1 #connectivity_field{
	width:100%
} */
